* {
    margin: 0 padding: 0;
    outline: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    border: 0
}

.clr {
    overflow: hidden;
}

.wrapper-full {
    width: 100%;

}

.wrapper {
    width: 1020px;
    margin: 0 auto;
    font-family: kalpurushregular !important;
    font-weight: 400;

}

/*slide-panel-buttom STYLE START*/
.slide-panel-buttom {
    background-color: #309800;
    border-bottom: 1px solid #faf9d9;
    color: white;
    height: 28px;
    width: 100%;
}

.left-slide {
    float: left;
    width: 600px;
    padding: 4px 0px 0px 15px;
    font-size: 16px;
}

.right-slide {
    float: left;
    width: 392px;
    font-size: 16px;
}

.date {
    float: right;
}

.date a {
    color: #ffffff;
    padding-left: 10px;
}

#date-border {
    border-right: 1px solid #b1afb0;
    padding-right: 10px;
    margin-top: 3px;
    display: inline-block;
}

/*slide-panel-buttom STYLE END*/
/*SLIDE PANEL HEAD STYLE STARTS*/
.slide-panel-head {
    width: 100%;
    float: left;
    background-color: #fbffda;
}

/*main-logo starts*/
.left-head-part {
    width: 360px;
    float: left;
    padding-left: 15px;
}

.left-head-part img {
    display: block;
    height: 130px;
    width: 120px;
    float: left;
    margin: 0;
}

a.logo-2 img {
    height: 80px;
    margin-left: -35px;
    margin-top: 30px;
}

a.logo-3 img {
    margin-left: -80px;
    height: 67px;
    margin-top: 44px;
}

.logo {
    width: 30%;
    float: left;
}

/*main-logo ends*/

/*right-head-part start*/
.right-head-part {
    width: 640px;
    float: right;
}

.full-raw {
    height: 100%;
    float: left;
    width: 100%;
}

/*information-part starts*/
/*<<<<information-01*/
.information-main-part {
    height: 39px;
    width: 100%;
    background: #1b5800;
    margin-right: 0px;

}

.information-main-part a:hover {
    background-color: red;
    color: #ffffff;
    transition: .6s;

}

.inform {
    font-weight: bold;
    float: left;
    color: #ffffff;
    padding: 10px;
}

.side-menu-item-first {
    padding-top: 3px;
    font-size: 12px;
    padding-bottom: 2px;
    border-right: 1.3px solid #ffffff;
}

.side-num01 {
    font-size: 22px;
}

.side-txt01 {
    float: right;
}

/*<<<<information-02*/

.side-menu-item-second {
    padding-top: 3px;
    font-size: 12px;
    padding-bottom: 2px;
    border-right: 1.3px solid #ffffff;

}

.side-num02 {
    font-size: 22px;
}

.side-txt02 {
    float: right;
}

/*<<<<information-03*/

.side-menu-item-third {
    padding-top: 4px;
    font-size: 12px;
    padding-bottom: 5px;
    border-right: 1.3px solid #ffffff;
}

.side-num03 {
    font-size: 22px;
}

.side-txt03 {
    float: right;
}

/*<<<<information-04*/

.side-menu-item-fourth {
    padding-top: 4px;
    font-size: 12px;
    padding-bottom: 5px;
    border-right: 1.3px solid #ffffff;

}

.side-num04 {
    font-size: 22px;
}

.side-txt04 {
    float: right;
}

/*<<<<information-05*/

.side-menu-item-fifth {
    padding-top: 4px;
    font-size: 12px;
    padding-bottom: 5px;
    border-right: 1.3px solid #ffffff;

}

.side-num05 {
    font-size: 22px;
}

.side-txt05 {
    float: right;
}

/*<<<<information-06*/

.side-menu-item-sixth {
    padding-top: 4px;
    font-size: 12px;
    padding-bottom: 5px;

}

.side-num06 {
    font-size: 22px;
}

.side-txt06 {
    float: right;
}

/*information-part ends*/
/*social-part starts*/
.srs-social-row {
    height: 75px;
    float: left;
    width: 100%;
    margin-top: 20px;
    margin-bottom: -15px;
}

/*<<<search-bar style*/
.search-bar {
    float: left;
    width: 475px;
}

.srs-form {
    width: 450px;
    float: left;
}

.srs-icon {
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #b2f30b;
    color: #ffffff;
    background: #374805;
    font-size: 11px;
    font-weight: bold;
    margin-left: 2px;
    cursor: pointer;
}

.srs-icon:hover {
    background-color: #529833;
    border: 2px solid #e7fdff;
    transition: 1s;
    color: #fff;
}

#search {
    padding: 7px;
    width: 330px;
    border-radius: 5px;
    border: 1px solid #9fa533;
    background: #ffffff;
    margin-left: 20px;
    padding-left: 10px;
}

.bird {
    width: 50px;
    float: right;
    margin-right: -25px;
}

.bird-logo {
    float: right;
}

/*<<<<social-icon style*/
.socialicon {
    float: right;
    width: 160px;
    margin-right: -35px;
    color: #374805;
    border-left: 2px solid #ffffff;
}

#within {
    font-size: 13px;
    font-weight: bold;
    margin-left: 20px;
}

#ftyg {
    margin-right: 3px;
}

.icon {
    margin-left: 12px;
    margin-top: 4px;
}

/*social-parts ends*/
/*right-head-part ends*/
/*SLIDE PANEL HEAD STYLE ENDS*/
/*MANU-BAR STYLE STARTS*/
.main-manu {
    width: 1020px;
    height: 37px;
    display: inline-block;
    `
}

.navigation {
    width: 100%;

}

.home {
    padding-left: 8px;
    margin-left: -40px;

}

.navigation li.home:hover {
    background: #37940A;
}

#forms:hover {
    background: #37940A;
}

#nav-02:hover {
    background: #F30505;
}

#nav-03:hover {
    background: #84154D;
}

#nav-04:hover {
    background: #1399BE;
}

#nav-05:hover {
    background: #6A0166;
}

#nav-06:hover {
    background: #000000;
}

#nav-07:hover {
    background: #FF6600;
}

#nav-08:hover {
    background: #9E5BBA;
}

#nav-09:hover {
    background: #416351;
}

#nav-10:hover {
    background: #F30505;
}

.navigation li:hover {
    background: #9E5BBA;
    transition: all linear .4s;
}

.navigation li a:hover:not(.home) {
    color: #ffffff;
}

.navigation ul {
    background-color: #309800;
    border-bottom: 1px solid white;
    height: 37px;
    float: left;
    margin-top: 1px;
}

.navigation ul li {
    float: left;
    padding: 3px 6.8px 0px 6.82px;
    border-right: 1px solid #c8c8c8 !important;
    transition: all linear .8s;
}

}

.navigation ul li:last-child {
    padding-right: 8.18px;
}

.navigation ul li a {
    color: #fff;
    display: block;
    font-size: 14.41px;
    line-height: 23px;
    font-weight: bold;
    padding: 5px 5.8px 6px 5.8px;
}

/*MANU-BAR STYLE ENDS*/
/*MAIN-CONTENT SRTYLE STARTS*/
.main-content {
    width: 100%;
    border-top: 10px solid #F8FFAB;
    display: inline-block;
    margin-top: -1px;
    background: #fbffda;

}

/*NEW SMALL HEADER STYLE START*/
.header-p {
    margin-bottom: -15px;
    background: #FAFAFA;
    margin-top: -8px;
}

.header-p i {
    margin-left: 15px;
    color: #525252;
    font-size: 19px;
}

#latestnews {
    margin-left: 13px;
    font-size: 20px;
    font-weight: bold;
    margin-right: -12px;
    color: #525252;
}

#news {
    margin-left: 185px;
    margin-top: -35px;
    display: block;
    background: #1b5800;
    padding: 7px 20px;
    font-size: 20px;
    border: 1px solid #ffffff;
    border-left: 0;
    border-right: 0;
    color: #ffffff;
    font-weight: bold;
    margin-right: 0.9px;
    opacity: 0.9;
}

/*NEW SMALL HEADER STYLE END*/
/*left-main-content style starts*/

.main-content-left-side {
    width: 690px;
    float: left;
    border-top: 1px solid #fff;
    margin-top: -11px;
}

/*slider-style starts*/
.slider {
    overflow: hidden;
    border-bottom: 3px solid #fff;
    width: 98.5%;
    border-right: 2px solid #fff;
}

.slider figure div {
    float: left;
    width: 20%;
}

.slider figure img {
    width: 100%;
    float: left;
}

.slide img {
    width: 100%;
    height: 360px;
}

.slider figure {
    position: relative;
    width: 500%;
    margin: 0px;
    left: 0;
    animation: 20s Nazma infinite;
}

@keyframes Nazma {
    0% {
        left: 0%;
    }

    10% {
        left: 0%;
    }

    12% {
        left: -100%;
    }

    22% {
        left: -100%;
    }

    24% {
        left: -200%;
    }

    34% {
        left: -200%;
    }

    36% {
        left: -300%;
    }

    46% {
        left: -300%;
    }

    48% {
        left: -400%;
    }

    58% {
        left: -400%;
    }

    60% {
        left: -300%;
    }

    70% {
        left: -300%;
    }

    72% {
        left: -200%;
    }

    82% {
        left: -200%;
    }

    84% {
        left: -100%;
    }

    94% {
        left: -100%;
    }

    96% {
        left: 0%;
    }
}

/*slider-style ends*/
/*left-side-of all product menu style starts*/
.all-products {
    padding: 10px;
}

.products-menu {
    height: 37px;
}

.products-menu:hover .active {
    background-color: #F3F3A0;
}

.active {
    padding-left: 8px;
    margin-left: -40px;

}

.products-menu li.active {
    background-color: #EFEFEF;
}

.products-menu li:hover {
    background: #efefef;
    transition: all linear .3s;
}

.products-menu li a:hover:not(.active) {
    color: #525252;
}

.products-menu ul {
    background-color: #309800;
    border-bottom: 1px solid white;
    height: 37px;
    float: left;
    margin-top: 1px;
}

.products-menu ul li {
    float: left;
    padding: 3px 15px 0px 15px;
    border-right: 1px solid #c8c8c8;
    transition: all linear .3s;

}

.products-menu ul li a:hover {
    color: #397d1a !important;
}

/*.products-menu ul li:last-child{
	border-radius: 3px;
}*/
.products-menu ul li a {
    color: #ffffff;
    display: block;
    font-size: 14.39px;
    line-height: 23px;
    padding-top: 5px;
    padding-bottom: 6px;
    font-weight: bold;
}

.products-pic-image {
    height: 272px;
    background: #faffd2;
    margin-top: 2px;
    border-radius: 2px;
    border: 0.5px solid #dcdcaf;
}

/*left-side-of all product menu style ends*/
.products-pic-image {
    height: 272px;
    background: #faffd2;
    margin-top: 2px;
    border-radius: 2px;
    border: 0.5px solid #dcdcaf;
}

.products-pic-image img {
    margin-top: -15px;
    margin-left: 1px;
}

/*left-main-content style ends*/
/*initiative-part starts*/
.initiative {
    width: 96.6%;
    float: left;
    margin-top: 5px;
    margin-bottom: 25px;
    background: #FAF9D9;
    border: 2px solid #ffffff;
    margin-left: 11px;
    height: 295px;
    border-radius: 3px;
}

.initiative:hover {
    background-color: #F8FFAB;
}

. .initiative-header {
    width: 100%;
    float: left;
    margin-left: 15px;
}

.initiative h5 {
    color: #69308f;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
}

.gov-init-list {
    padding-left: 15px;
    float: left;
    width: 52%;
}

.gov-init-list:hover {
    background-color: #F3F39E;
    border: 1px solid #ffffff;
}

.gov-init-list ul {
    float: left;
    display: block;
    margin-left: -38px;
    margin-top: 0px;
}

.gov-init-list ul li a:hover {
    color: #F109F3;
    /*font-weight: bold;*/
}

.gov-init-list ul li {
    float: left;
    border-bottom: 1px solid #08940b;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 13px;
    width: 100%;
}

.gov-init-list ul li a {
    font-size: 13px;
    color: #480b0b;
}

.initiative-all {
    float: right;
}

/*initiative-part ends*/
/*extra-image-link start*/
.extra-image-link {
    margin-left: 11px;
    display: inline-block;
    margin-bottom: 10px;
}

.extra-image-link a {}

.extra-image-link img {
    width: 221px;
    height: 273px;
}

/*extra-image-link ends*/
/*popular-sites starts*/
.popular-sites {
    width: 96.8%;
    float: left;
    background: #FAFAE3;
    margin-left: 11px;
    border: 2px solid #ffffff;
    border-radius: 10px;
}

.popular-sites h5 {
    width: 100%;
    color: #1061f9;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 0px;
}

/*<><><><><><><>*/
.services {
    width: 220px;
    float: left;
    margin-left: -2px;
}

.services h6 {
    color: #f109f3;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: -12px;
    border-bottom: 1px solid #999;
    padding-bottom: 8px;
}

.services ol {
    margin-left: 20px;
    float: left;
}

.services ol li {
    float: left;
    margin-left: -15px;
    font-size: 13px;
    padding-bottom: 1px;
    margin-top: 2px;
    color: #09589e;
}

.services ol:hover {
    background: #F8FFAB;
    border: 2px solid #ffffff;
    margin-bottom: -1px;
}

.services ol li a {
    font-size: 12px;
    color: #09589e;
}

.services ol li:hover {
    border-bottom: 1px solid gray;
}

.services ol:hover {
    background: #F8FFAB;
    border: 2px solid #ffffff;
    margin-bottom: -1px;
}

.services ol li a:hover {
    color: #008000;
    background: #F8FFAB;
}

/*<><><><><><><>*/
.pages {
    width: 220px;
    float: left;
    margin-left: -5px;
}

.pages h6 {
    color: #f109f3;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 27px;
    margin-bottom: -12px;
    border-bottom: 1px solid #999;
    padding-bottom: 8px;
}

.pages ol {
    margin-left: 27px;
    float: left;
    padding-left: 40px;
}

.pages ol li {
    float: left;
    margin-left: -15px;
    font-size: 11px;
    padding-bottom: 1px;
    margin-top: 2px;
    color: #09589e;
}

.pages ol li a {
    font-size: 12px;
    color: #09589e;
}

.pages ol li:hover {
    border-bottom: 1px solid gray;
}

.pages ol:hover {
    background: #F8FFAB;
    border: 2px solid #ffffff;
    margin-bottom: -1px;
}

.pages ol li a:hover {
    color: #008000;
    background: #F8FFAB;
}

/*<><><><><><><>*/
.portals {
    width: 220px;
    float: left;
    margin-left: -5px;
}

.portals h6 {
    color: #f109f3;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 27px;
    margin-bottom: -12px;
    border-bottom: 1px solid #999;
    padding-bottom: 8px;
}

.portals ol {
    margin-left: 26px;
    float: left;
    padding-right: 54px;
    padding-left: 45px;
}

.portals ol li {
    margin-left: -18px;
    font-size: 14px;
    padding-bottom: 1px;
    color: #09589e;
    margin-top: 1px;
}

.portals ol li a {
    font-size: 14.5px;
    color: #09589e;
}

.portals ol li:hover {
    border-bottom: 1px solid gray;
}

.portals ol:hover {
    background: #F8FFAB;
    border: 2px solid #ffffff;
    margin-bottom: 14px;
}

.portals ol li a:hover {
    color: #008000;
    background: #F8FFAB;
}

.popular-all {
    float: right;
    margin: 15px;
    margin-top: 35px;
}

/*.popular-all:hover{
	color: red;
}*/
.btn {
    background-image: linear-gradient(to bottom, #666, #a6a6a6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #A2A2A2;
    padding: 6px 5px 7px 5px;
    color: #fff !important;
    font-size: 15px;
}

/*popular-sites ends*/

/*right-main-content style starts*/
.main-content-right-side {
    width: 330px;
    border-top: 1px solid #fff;
    margin-top: -11px;
    float: right;
}

/*PM-Banner style start*/
.prime-minister {
    width: 100%;
    margin-left: 2px;
}

#prime-mins {
    height: 430px;
    width: 328px;
}

/*PM-Banner style start*/
/*PM-Speaks style starts*/
.pm-speaks {
    width: 99.5%;
}

#pm-speak-title {
    height: 40px;
    width: 100.5%;
    background: #309800;
    color: #ffffff;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
}

#pm-talks {
    margin-top: 0px;
    font-size: 14px;
    width: 100%;
    text-align: justify;
}

#pm-image {
    float: left;
    height: 165px;
    width: 150px;
    margin-right: 10px;
    margin-bottom: 0px;
    border: 4px double #dcce93;
}

#speaks {
    margin-right: 12px;
    font-size: 13px;
    line-height: 22px;
}

#details {
    float: right;
    /* background: #8f9892; */
    color: #0b32fd;
    padding: 3px;
    border-radius: 3px;
    font-size: 12px;
    margin-top: -6px;
    font-weight: bold;
}

/*PM-Speaks style ends*/
/*Notice board style starts*/
.notice-board {
    background: #FAFAFA;
    height: 230px;
    border: 1px solid #dddddd;
    border-radius: 2px;
    margin-top: -3px;
    margin-left: 2px;
    margin-right: 1px;
}

.notice-board h3 {
    background: #F30505;
    margin-top: 0px;
    color: #ffffff;
    padding: 5px;
    text-align: center;
    font-size: 21px;
    margin-right: -1px;
    margin-left: -1px;
}

#notices {
    height: 189px;
    margin-top: -23px;
    text-align: center;
    font-size: 14.5px;
    line-height: 35px;
    color: #2e6f07;
    padding: 0px 25px;
}

/*Notice board style ends*/
/*important link style start*/
.important-link {
    line-height: 18px;
    background: #FAFAFA;
    border: 1px solid #dad8d5;
    border-radius: 1px;
    padding-bottom: 7px;
    margin-top: 2px;
    margin-left: 3px;
    padding: 15px 2px;
    color: #e60909;
    margin-right: 1px;
}

.important-link h3 {
    background: #37940a;
    margin-top: 0px;
    color: #ffffff;
    padding: 8px;
    border-radius: 1px;
    margin-right: -1px;
    margin-left: -1px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}

.important-link i {
    margin-left: 6px;
}

.important-link a {
    font-weight: bold;
    margin-top: 0px;
    display: inline-block;
    font-size: 15px;
    padding: 2px;
    color: #5e2771;
}

/*important link style end*/
/*scag style starts*/
.scag {
    float: left;
    margin-left: -37px;
    margin-top: -12px;
}

.scag ul {}

.scag li {}

.scag a {}

.scag img {
    width: 325px;
}

/*scag style ends*/
/*right-main-content style ends*/
/*MAIN-CONTENT STYLE ENDS*/

/*FOOTER-CONTENT STYLE STARTS*/

.footer {
    height: 100px;
    float: left;
    background: #EFEF96;
    border-bottom: 6px solid #9E5BBA;
    border-top: 1px solid #9E5BBA;
}

/*footer-left style starts*/
.footer-left {
    width: 700px;
    float: left;
}

.footer-left-menu {
    width: 700px;
    margin: 0 auto;
    float: left;
    border-top: 3px solid #9E5BBC;
    margin-top: 4px;
}

.footer-left-menu ul {
    background-color: #F3F39E;
    /* border-bottom: 1px solid white; */
    height: 37px;
    float: left;
    /* margin-top: 1px; */
    padding-left: 5px;
    margin-left: 7px;
    margin-bottom: 0px;
}

.footer-left-menu ul li {
    float: left;
    padding: 3px 8.8px 0px 8.8px;
    border-right: 1px solid #fff !important;
}

.footer-left-menu ul li a:hover {
    color: green;
    border-bottom: .5px solid green;
}

.footer-left-menu ul li a {
    color: #525252;
    display: block;
    font-size: 12.39px;
    line-height: 23px;
    padding-top: 5px;
    padding-bottom: 6px;
    font-weight: bold;
}

.footer-left-para p {
    font-size: 12px;
    margin-left: 20px;
    display: inline-block;
    color: #212321;
}

.footer-left-para p {
    font-size: 12px;
    margin-left: 20px;
}

/*footer-left style ends*/
/*footer-right style starts*/
.footer-right {
    width: 320px;
    float: left;
    border-top: 3px solid #9E5BBC;
    margin-top: 4px;
}

.producer {
    font-size: 12px;
    margin-left: -35px;
    float: left;
}

.producer p {
    display: block;
    margin-top: 20px;
}

.producer a {
    color: green;
}

.producer a:hover {
    border-bottom: .5px solid green;
}

.working-help {
    float: right;
    color: #333333;
    margin-right: 19px;
    display: block;
    margin: -28px 20px 4px 0px;
}

.working-help p {
    font-size: 20px;
}

.working-help a {}

/*footer-right style ends*/
/*FOOTER-CONTENT STYLE ENDS*/